Django
django-celery-results
django-celery-beat
django-redis
django-rest-auth
djangorestframework
djangorestframework_simplejwt
celery
pytest
pytest-celery
pytest-django
pytest-factoryboy
python-dateutil